In [2]:
import findspark
findspark.init()

ModuleNotFoundError: No module named 'findspark'

In [3]:
from pyspark import SparkContext
from pyspark.sql import SparkSession
sc = SparkContext(master="local", appName="test")
spark = SparkSession(sc)

ModuleNotFoundError: No module named 'pyspark'

In [3]:
import os
dir_name="/home/sarbajit/Documents/Programs/spark/Data"

In [4]:
from pyspark.sql.types import StructField, StructType, FloatType, StringType 
iris_schema = StructType([
    StructField("sepal_length", FloatType()),
    StructField("sepal_width", FloatType()),
    StructField("petal_length", FloatType()),
    StructField("petal_width", FloatType()),
    StructField('species', StringType())
])
iris = spark.read.csv(path=os.path.join(dir_name, "iris.csv"), schema=iris_schema)

iris.show()

+------------+-----------+------------+-----------+-----------+
|sepal_length|sepal_width|petal_length|petal_width|    species|
+------------+-----------+------------+-----------+-----------+
|         5.1|        3.5|         1.4|        0.2|Iris-setosa|
|         4.9|        3.0|         1.4|        0.2|Iris-setosa|
|         4.7|        3.2|         1.3|        0.2|Iris-setosa|
|         4.6|        3.1|         1.5|        0.2|Iris-setosa|
|         5.0|        3.6|         1.4|        0.2|Iris-setosa|
|         5.4|        3.9|         1.7|        0.4|Iris-setosa|
|         4.6|        3.4|         1.4|        0.3|Iris-setosa|
|         5.0|        3.4|         1.5|        0.2|Iris-setosa|
|         4.4|        2.9|         1.4|        0.2|Iris-setosa|
|         4.9|        3.1|         1.5|        0.1|Iris-setosa|
|         5.4|        3.7|         1.5|        0.2|Iris-setosa|
|         4.8|        3.4|         1.6|        0.2|Iris-setosa|
|         4.8|        3.0|         1.4|        0.1|Iris-setosa|
|         4.3|        3.0|         1.1|        0.1|Iris-setosa|
|         5.8|        4.0|         1.2|        0.2|Iris-setosa|
|         5.7|        4.4|         1.5|        0.4|Iris-setosa|
|         5.4|        3.9|         1.3|        0.4|Iris-setosa|
|         5.1|        3.5|         1.4|        0.3|Iris-setosa|
|         5.7|        3.8|         1.7|        0.3|Iris-setosa|
|         5.1|        3.8|         1.5|        0.3|Iris-setosa|
+------------+-----------+------------+-----------+-----------+
only showing top 20 rows

In [5]:
from pyspark import SQLContext
sqlContext = SQLContext(sc)

In [7]:
iris.createOrReplaceTempView("iris_temp_table")
sqlContext.sql("select sepal_length, petal_length from iris_temp_table").show()
# sqlContext.dropTempTable("iris_temp_table")

+------------+------------+
|sepal_length|petal_length|
+------------+------------+
|         5.1|         1.4|
|         4.9|         1.4|
|         4.7|         1.3|
|         4.6|         1.5|
|         5.0|         1.4|
|         5.4|         1.7|
|         4.6|         1.4|
|         5.0|         1.5|
|         4.4|         1.4|
|         4.9|         1.5|
|         5.4|         1.5|
|         4.8|         1.6|
|         4.8|         1.4|
|         4.3|         1.1|
|         5.8|         1.2|
|         5.7|         1.5|
|         5.4|         1.3|
|         5.1|         1.4|
|         5.7|         1.7|
|         5.1|         1.5|
+------------+------------+
only showing top 20 rows

In [11]:
# sqlContext.tableNames()
sqlContext.tables().show()

+--------+---------------+-----------+
|database|      tableName|isTemporary|
+--------+---------------+-----------+
|      db|           iris|      false|
|        |iris_temp_table|       true|
+--------+---------------+-----------+

In [47]:
iris_rdd = sc.textFile(os.path.join(dir_name, "iris.csv"))

iris_rdd_split = iris_rdd.map(lambda line : line.split(",")).map(lambda col : (col[0], col[2]))
iris_rdd_split.take(10)

[('5.1', '1.4'),
 ('4.9', '1.4'),
 ('4.7', '1.3'),
 ('4.6', '1.5'),
 ('5', '1.4'),
 ('5.4', '1.7'),
 ('4.6', '1.4'),
 ('5', '1.5'),
 ('4.4', '1.4'),
 ('4.9', '1.5')]

In [10]:
# python object to rdd
objToRdd =sc.parallelize([
    ('a', [10,20,30]), ('b',[100,200,300]), ('m', ['a','b','m'])
])
value
# print(objToRdd.collect())
df = spark.createDataFrame(objToRdd)
df.show()
print(sc.uiWebUrl)

+---+---------------+
| _1|             _2|
+---+---------------+
|  a|   [10, 20, 30]|
|  b|[100, 200, 300]|
|  m|           [,,]|
+---+---------------+

http://192.168.0.16:4040

In [10]:
# Hive introduction
sqlContext.sql("drop database db")

sqlContext.sql("create database db")
sqlContext.sql("use db")

from pyspark.sql import DataFrameWriter
dfw = DataFrameWriter(iris)
# sqlContext.sql("drop table iris")
dfw.saveAsTable(name="iris", mode="overwrite")

In [23]:
sqlContext.tables().show()

+--------+---------------+-----------+
|database|      tableName|isTemporary|
+--------+---------------+-----------+
|      db|           iris|      false|
|        |iris_temp_table|       true|
+--------+---------------+-----------+

In [30]:
# UDF 
from pyspark.sql.functions import col, udf, collect_list
from pyspark.sql.types import FloatType

def makeItUpperCase(value):
    # print(value)
    return value.upper()

doUpper = udf(makeItUpperCase, StringType())

# iris.select(doUpper(iris.species)).show()
# iris.withColumn("species", doUpper(iris.species)).show()
# iris.show()

df = iris.groupBy(iris.species).agg(collect_list(iris.sepal_length).alias("agg_sepal_length"),collect_list(iris.sepal_width).alias("agg_sepal_width"))
# print(type(df))

getSum = udf(lambda var : sum(var), returnType=FloatType())

agg_iris = df.select(df.species,getSum(df.agg_sepal_length).alias("sum of Sepal length"), getSum(df.agg_sepal_width).alias("sum_of_Sepal_width"))

agg_iris.show()
agg_iris.select(col("sum of Sepal length")).show()

+---------------+-------------------+------------------+
|        species|sum of Sepal length|sum_of_Sepal_width|
+---------------+-------------------+------------------+
| Iris-virginica|              329.4|             148.7|
|    Iris-setosa|              250.3|             170.9|
|Iris-versicolor|              296.8|             138.5|
+---------------+-------------------+------------------+

+-------------------+
|sum of Sepal length|
+-------------------+
|              329.4|
|              250.3|
|              296.8|
+-------------------+

In [43]:
spark.udf.register("doUpperCase", makeItUpperCase, StringType())

sqlContext.sql("select doUpperCase(species) from iris").show()

+--------------------+
|doUpperCase(species)|
+--------------------+
|         IRIS-SETOSA|
|         IRIS-SETOSA|
|         IRIS-SETOSA|
|         IRIS-SETOSA|
|         IRIS-SETOSA|
|         IRIS-SETOSA|
|         IRIS-SETOSA|
|         IRIS-SETOSA|
|         IRIS-SETOSA|
|         IRIS-SETOSA|
|         IRIS-SETOSA|
|         IRIS-SETOSA|
|         IRIS-SETOSA|
|         IRIS-SETOSA|
|         IRIS-SETOSA|
|         IRIS-SETOSA|
|         IRIS-SETOSA|
|         IRIS-SETOSA|
|         IRIS-SETOSA|
|         IRIS-SETOSA|
+--------------------+
only showing top 20 rows

In [4]:
sc.uiWebUrl

'http://192.168.0.10:4040'

In [ ]:
# Caching and Persisting

In [45]:
# iris.rdd.setName("iris")
df = sc.textFile("./iris.csv")
print(df)
# df.take(10)

./iris.csv MapPartitionsRDD[149] at textFile at NativeMethodAccessorImpl.java:0

In [74]:

sc.parallelize((('1',),('1'),('11',1),('11'))).countByKey().items()
# sc.parallelize((('a',1),('b',2),('a',3),('a',4))).foldByKey(0,add).items()

dict_items([('1', 3), ('11', 1)])

In [63]:
from pyspark.sql.types import IntegerType
iris.select(int(iris.sepal_length)).show()

TypeError: int() argument must be a string, a bytes-like object or a number, not 'Column'

In [7]:
data = spark.read.format('csv').option("delimiter", "|").option('mode',"FAILFAST").load(os.path.join(dir_name,'data.txt'))
data.show()
print(data.count())
data.write.mode("Overwrite").format("parquet").option('path',os.path.join(dir_name,'out.parquet')).save()

+--------+----------+
|     _c0|       _c1|
+--------+----------+
|Sarbajit|Na"n\"\"dy|
| Krishna|     Nandy|
+--------+----------+

2

In [4]:
spark.read.format("parquet").load(os.path.join(dir_name,'out.parquet')).show()

+--------+----------+
|     _c0|       _c1|
+--------+----------+
|Sarbajit|Na"n\"\"dy|
| Krishna|     Nandy|
+--------+----------+